# <span style="font-size: 20pt; font-family: Montserrat, sans-serif; color: rgb(92, 148, 206); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Graded Assignment 3: 9 to 5</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.</span>

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on</span> [<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Kaggle</span>](https:\www.kaggle.com\bls\employment)<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">.</span>

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Business Issue</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.</span>

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">About the Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:</span>

1. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.</span>
    
2. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.</span>
    

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Set Up</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To connect to the database, use the same connection info used during the SQL lessons.&nbsp;</span>   

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For the assignment, we will be using the LaborStatisticsDB database.</span>

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Database Exploration</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To start with, let’s get to know the database further.</span>

1. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: &quot;Times New Roman&quot;; font-size: 10pt; white-space: pre-wrap;">Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with LaborStatisticsDB.</span>

          [Launch Code: 9-5 Project](.\LabourStatisticsDB%20-%20ERD%20with%20colored%20entities%20(UML%20notation).jpeg)

To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the the link button to the right of the  \</\> symbol in the gray part of this cell, the link is just the name of your file.

2. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Arvo, serif; font-size: 10pt; white-space: pre-wrap;">What is the datatype for women employees?</span>

In [41]:
--TINYINT

select data_type_code, data_type_text from LaborStatisticsDB.dbo.datatype
where data_type_text = 'women employees';

data_type_code,data_type_text
10,WOMEN EMPLOYEES

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the series id for&nbsp; women employees in the commercial banking industry in the financial activities supersector?</span>

In [8]:
select s.series_id, s.series_title, I.industry_code, I.industry_name, ss.supersector_code, ss.supersector_name from LaborStatisticsDB.dbo.series S 
join LaborStatisticsDB.dbo.supersector  SS on s.supersector_code = ss.supersector_code
join LaborStatisticsDB.dbo.industry I on S.industry_code = I.industry_code
where  I.industry_name = 'commercial banking' and ss.supersector_name = 'financial activities'
and s.series_title = 'women employees'

series_id,series_title,industry_code,industry_name,supersector_code,supersector_name
CES5552211010,Women employees,55522110,Commercial banking,55,Financial activities
CEU5552211010,Women employees,55522110,Commercial banking,55,Financial activities

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Join in on the Fun</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to start joining! You can choose the type of join you use, just make sure to make a&nbsp; note!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join&nbsp; annual_2016 with series on series_id. We only want the data in the annual_2016 table to be included in the result.</span>

In [17]:
select A.id, A.series_id, A.[year], A.[period], A.[value], A.footnote_codes, A.original_file 
from LaborStatisticsDB.dbo.annual_2016 as A 
inner join LaborStatisticsDB.dbo.series as S 
on a.series_id = s.series_id
where A.id < 10  --I'm adding this where clause to reduce the file size

id,series_id,year,period,value,footnote_codes,original_file
0,CEU5500000007,2016,M13,36.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
1,CEU5500000008,2016,M13,26.11,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
2,CEU5500000030,2016,M13,962.73,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
3,CEU5500000031,2016,M13,411.29,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
4,CEU5500000032,2016,M13,11.15,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
5,CEU5500000034,2016,M13,111.6,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
6,CEU5500000035,2016,M13,179.2,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
7,CEU5500000081,2016,M13,236997,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
8,CEU5500000082,2016,M13,6189003,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv
9,CEU5552200007,2016,M13,37.3,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and datatype on data_type_code</span>

In [2]:
select top 10 * from LaborStatisticsDB.dbo.series as S  
join LaborStatisticsDB.dbo.datatype as D  
on s.data_type_code = d.data_type_code

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title,data_type_code,data_type_text
CES0000000001,0,00000000,1,S,All employees,1,ALL EMPLOYEES
CES0000000010,0,00000000,10,S,Women employees,10,WOMEN EMPLOYEES
CES0000000025,0,00000000,25,S,All employees,25,ALL EMPLOYEES
CES0000000026,0,00000000,26,S,All employees,26,ALL EMPLOYEES
CES0500000001,5,05000000,1,S,All employees,1,ALL EMPLOYEES
CES0500000002,5,05000000,2,S,Average weekly hours of all employees,2,AVERAGE WEEKLY HOURS OF ALL EMPLOYEES
CES0500000003,5,05000000,3,S,Average hourly earnings of all employees,3,AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES
CES0500000006,5,05000000,6,S,Production and nonsupervisory employees,6,PRODUCTION AND NONSUPERVISORY EMPLOYEES
CES0500000007,5,05000000,7,S,Average weekly hours of production and nonsupervisory employees,7,AVERAGE WEEKLY HOURS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES
CES0500000008,5,05000000,8,S,Average hourly earnings of production and nonsupervisory employees,8,AVERAGE HOURLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and industry on industry_code</span>

In [5]:
select top 10 * from LaborStatisticsDB.dbo.series as S  
join LaborStatisticsDB.dbo.industry as I  
on s.industry_code = i.industry_code

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title,id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
CES0000000001,0,00000000,1,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000010,0,00000000,10,S,Women employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000025,0,00000000,25,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000026,0,00000000,26,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0500000001,5,05000000,1,S,All employees,1,5000000,-,A,Total private,1,T,2
CES0500000002,5,05000000,2,S,Average weekly hours of all employees,1,5000000,-,A,Total private,1,T,2
CES0500000003,5,05000000,3,S,Average hourly earnings of all employees,1,5000000,-,A,Total private,1,T,2
CES0500000006,5,05000000,6,S,Production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2
CES0500000007,5,05000000,7,S,Average weekly hours of production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2
CES0500000008,5,05000000,8,S,Average hourly earnings of production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Aggregate Your Friends and Code some SQL</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Put together the following:</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp; No chopping people into little bits, please.</span>

In [59]:
SELECT  round(sum([value]), 0) as 'All Industry', s.series_title
FROM LaborStatisticsDB.dbo.annual_2016 A
left join LaborStatisticsDB.dbo.series S 
on A.series_id = s.series_id
WHERE s.series_title = 'All Employees'
group by S.series_title;

All Industry,series_title
2340612,All employees

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many women employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp;</span>

In [58]:
SELECT  round(sum([value]), 0) as 'All Industry', s.series_title
FROM LaborStatisticsDB.dbo.annual_2016 A
left join LaborStatisticsDB.dbo.series S 
on A.series_id = s.series_id
WHERE s.series_title = 'women Employees'
group by S.series_title;

All Industry,series_title
1125490,Women employees

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.&nbsp;</span>

In [71]:
SELECT  round(sum([value]), 0) as 'All Industry', s.series_title
FROM LaborStatisticsDB.dbo.annual_2016 A
left join LaborStatisticsDB.dbo.series S 
on A.series_id = s.series_id
WHERE s.series_title = 'production and nonsupervisory employees'
group by S.series_title

All Industry,series_title
1263650,Production and nonsupervisory employees

4. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?</span>

In [6]:
SELECT top 10 A.[value] as 'All Industry', s.series_id, s.series_title
FROM LaborStatisticsDB.dbo.january_2017 A
left join LaborStatisticsDB.dbo.series S 
on A.series_id = s.series_id
WHERE s.series_title = 'Average weekly hours of production and nonsupervisory employees'
--group by S.series_title
--order by [All Industry] DESC
--order by [All Industry]

All Industry,series_id,series_title
36.9,CES5500000007,Average weekly hours of production and nonsupervisory employees
37.5,CES5552200007,Average weekly hours of production and nonsupervisory employees
37.2,CES5552210007,Average weekly hours of production and nonsupervisory employees
37.1,CES5552211007,Average weekly hours of production and nonsupervisory employees
36.7,CES5552212007,Average weekly hours of production and nonsupervisory employees
37.5,CES5552219007,Average weekly hours of production and nonsupervisory employees
38.1,CES5552220007,Average weekly hours of production and nonsupervisory employees
37.5,CES5552229107,Average weekly hours of production and nonsupervisory employees
38.6,CES5552229207,Average weekly hours of production and nonsupervisory employees
37.1,CES5552230007,Average weekly hours of production and nonsupervisory employees

5. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny, please.</span>

In [7]:
SELECT  top 10 round(J.VALUE, 2) as 'All_Industry', s.series_title
FROM LaborStatisticsDB.dbo.january_2017 J
left join LaborStatisticsDB.dbo.series S 
on J.series_id = s.series_id
WHERE s.series_title = 'Aggregate weekly payrolls of production and nonsupervisory employees'
--group by S.series_title;
order by All_Industry DESC

All_Industry,series_title
74498171,Aggregate weekly payrolls of production and nonsupervisory employees
74498171,Aggregate weekly payrolls of production and nonsupervisory employees
73474302,Aggregate weekly payrolls of production and nonsupervisory employees
73474302,Aggregate weekly payrolls of production and nonsupervisory employees
60914722,Aggregate weekly payrolls of production and nonsupervisory employees
60914722,Aggregate weekly payrolls of production and nonsupervisory employees
60807771,Aggregate weekly payrolls of production and nonsupervisory employees
60807771,Aggregate weekly payrolls of production and nonsupervisory employees
15251268,Aggregate weekly payrolls of production and nonsupervisory employees
15251268,Aggregate weekly payrolls of production and nonsupervisory employees

6. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?</span>

In [64]:
SELECT top 1 S.industry_code, I.industry_name, value AS avg_weekly_hours
FROM LaborStatisticsDB.dbo.series AS S
JOIN LaborStatisticsDB.dbo.industry AS I 
ON S.industry_code = I.industry_code
JOIN LaborStatisticsDB.dbo.january_2017 AS J 
ON S.series_id = J.series_id
WHERE S.series_title LIKE '%Average weekly hours of production and nonsupervisory employees%'
--GROUP BY S.industry_code, I.industry_name
--ORDER BY avg_weekly_hours 
ORDER by avg_weekly_hours DESC;

--I did this code to show the lowest employees
SELECT top 1 S.industry_code, I.industry_name, value AS avg_weekly_hours
FROM LaborStatisticsDB.dbo.series AS S
JOIN LaborStatisticsDB.dbo.industry AS I 
ON S.industry_code = I.industry_code
JOIN LaborStatisticsDB.dbo.january_2017 AS J 
ON S.series_id = J.series_id
WHERE S.series_title LIKE '%Average weekly hours of production and nonsupervisory employees%'
--GROUP BY S.industry_code, I.industry_name
ORDER BY avg_weekly_hours

industry_code,industry_name,avg_weekly_hours
31336350,Motor vehicle power train components,49.8

industry_code,industry_name,avg_weekly_hours
70713940,Fitness and recreational sports centers,16.7

7. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?</span>

In [66]:
SELECT top 1 S.industry_code, I.industry_name, value AS Total_weekly_payroll
FROM LaborStatisticsDB.dbo.series AS S
JOIN LaborStatisticsDB.dbo.industry AS I 
ON S.industry_code = I.industry_code
JOIN LaborStatisticsDB.dbo.january_2017 AS J 
ON S.series_id = J.series_id
WHERE S.series_title LIKE '%Aggregate weekly payrolls of production and nonsupervisory employees%'
ORDER by Total_weekly_payroll DESC


--I did this code to show the lowest employees
SELECT top 1 S.industry_code, I.industry_name, value AS Total_weekly_payroll
FROM LaborStatisticsDB.dbo.series AS S
JOIN LaborStatisticsDB.dbo.industry AS I 
ON S.industry_code = I.industry_code
JOIN LaborStatisticsDB.dbo.january_2017 AS J 
ON S.series_id = J.series_id
WHERE S.series_title LIKE '%Aggregate weekly payrolls of production and nonsupervisory employees%'
ORDER by Total_weekly_payroll

industry_code,industry_name,Total_weekly_payroll
05000000,Total private,74498171

industry_code,industry_name,Total_weekly_payroll
50517911,Telecommunications resellers,38.2

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Subqueries, Unions, Derived Tables, Oh My!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Write a query that returns the series_id, industry_code, industry_name, and value from the january_2017 table but only if that value is greater than the average value for annual_2016 of data_type_code 82.</span>

In [73]:
SELECT top 10 j.series_id, J.[year], I.industry_code, i.industry_name, j.value
FROM LaborStatisticsDB.dbo.january_2017 j
inner JOIN LaborStatisticsDB.dbo.series S ON s.series_id = J.series_id
inner JOIN LaborStatisticsDB.dbo.industry I on s.industry_code = I.industry_code
WHERE s.data_type_code = '82' and j.value > (
    SELECT round(AVG(value), 0)
    FROM LaborStatisticsDB.dbo.annual_2016 A 
    inner join LaborStatisticsDB.dbo.series s 
    on a.series_id = s.series_id 
    WHERE S.data_type_code = '82'
)
order by j.[value] DESC
--order by j.value

-- I did this code to cross verify that the value january_2017 is greater than annual_2016.
SELECT round(AVG(value), 0) as avg_value_2016
    FROM LaborStatisticsDB.dbo.annual_2016 A 
    inner join LaborStatisticsDB.dbo.series s 
    on a.series_id = s.series_id 
    WHERE S.data_type_code = '82'
    order by avg_value_2016

series_id,year,industry_code,industry_name,value
CES0500000082,2017,5000000,Total private,74498171
CES0500000082,2017,5000000,Total private,74498171
CEU0500000082,2017,5000000,Total private,73474302
CEU0500000082,2017,5000000,Total private,73474302
CES0800000082,2017,8000000,Private service-providing,60914722
CES0800000082,2017,8000000,Private service-providing,60914722
CEU0800000082,2017,8000000,Private service-providing,60807771
CEU0800000082,2017,8000000,Private service-providing,60807771
CES6000000082,2017,60000000,Professional and business services,15251268
CES6000000082,2017,60000000,Professional and business services,15251268

avg_value_2016
819960

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Create a Union table comparing average weekly earnings&nbsp; of production and nonsupervisory employees between annual_16 and january_17 using the data type 30.&nbsp; Round to the nearest penny.&nbsp; You should have a column for the average earnings and a column for the year, and the period.</span>

In [79]:
select year, period, round(avg(A.[value]), 0) as Avg_earnings from LaborStatisticsDB.dbo.annual_2016 A
where series_id in (
    select s.series_id from LaborStatisticsDB.dbo.series S 
where series_title = 'AVERAGE WEEKLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES' and data_type_code = '30'
)
group by [year], period
--order by [year]


union

select year, period, round(avg(J.[value]), 0) as Avg_earnings from LaborStatisticsDB.dbo.january_2017 J
where series_id in (
    select series_id from LaborStatisticsDB.dbo.series
where series_title = 'AVERAGE WEEKLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES' and data_type_code = '30'
)
group by YEAR, period
order by YEAR;


--I did this code to cross verify the results 
 select round(avg(value), 0) as Avg_earnings, year, period  from (
 select value, year, period from LaborStatisticsDB.dbo.annual_2016
where series_id in (
    select series_id from LaborStatisticsDB.dbo.series
where series_title = 'AVERAGE WEEKLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES' and data_type_code = '30'
)

union

select value, year, period from LaborStatisticsDB.dbo.january_2017
where series_id in (
    select series_id from LaborStatisticsDB.dbo.series
where series_title = 'AVERAGE WEEKLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES' and data_type_code = '30'
))
t group by YEAR, period;
--order by year, period;

year,period,Avg_earnings
2016,M13,797
2017,M01,809

Avg_earnings,year,period
808,2017,M01
797,2016,M13

In [1]:
   --I did this query to verify the top 10 industries production and nonsupervisory 
   --employees fare better for summary question no 2.
    SELECT top 10 s.series_id, i.industry_code, i.industry_name,
    AVG(CASE WHEN s.data_type_code = '30' THEN a.value ELSE NULL END) AS avg_earnings_2016,
    AVG(CASE WHEN s.data_type_code = '30' THEN j.value ELSE NULL END) AS avg_earnings_2017
FROM LaborStatisticsDB.dbo.series AS s
INNER JOIN LaborStatisticsDB.dbo.industry AS i ON s.industry_code = i.industry_code
LEFT JOIN LaborStatisticsDB.dbo.annual_2016 AS a ON s.series_id = a.series_id
LEFT JOIN LaborStatisticsDB.dbo.january_2017 AS j ON s.series_id = j.series_id
WHERE s.series_title = 'AVERAGE WEEKLY EARNINGS OF PRODUCTION AND NONSUPERVISORY EMPLOYEES'
GROUP BY s.series_id, i.industry_code, i.industry_name
order by avg_earnings_2016 DESC

series_id,industry_code,industry_name,avg_earnings_2016,avg_earnings_2017
CEU4348600030,43486000,Pipeline transportation,1730.96,1749.56
CEU5051120030,50511200,Software publishers,1720.42,1713.07
CEU3232400030,32324000,Petroleum and coal products,1718.26,1812.6
CEU4422111230,44221112,Fossil fuel electric power generation,1712.65,1758.48
CEU5552413030,55524130,Reinsurance carriers,1699.97,1847.47
CEU4422111030,44221110,Electric power generation,1688.8,1704.42
CEU3133641130,31336411,Aircraft,1639.99,1638.63
CEU5552392030,55523920,Portfolio management,1637.45,1614.25
CEU6054151130,60541511,Custom computer programming services,1618.81,1651.65
CEU5552320030,55523200,NULL,1603.07,1655.98

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Summarize Your Results</span>

<span style="font-size:10pt;font-family:Arvo, serif;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">With what you know now about the </span> <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:13.3333px;white-space:pre-wrap;">Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the</span> <span style="color:rgb(102, 102, 102);white-space:pre-wrap;font-family:&quot;Times New Roman&quot;;font-size:13.3333px;">Labor Statistics Database</span><span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:Arvo, serif;font-size:10pt;white-space:pre-wrap;">, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.</span>

1. <span style="background-color:rgb(255, 255, 255);font-size:10pt;white-space:pre-wrap;color:rgb(102, 102, 102);font-family:Arvo, serif;">During which time period did production and nonsupervisory employees fare better?</span>

![]()

The above details shows that 2017 is the fare better time period for production and nonsupervisory employees.

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In which industries did production and nonsupervisory employees fare better?</span>

Pipeline transportation, Software publishers, Petroleum and coal products, Fossil fuel electric power generation

Reinsurance carriers, Electric power generation, Aircraft, Portfolio management and

Custom computer programming services these are the industries of production and nonsupervisory employees fare better.

3. <span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?</span>

It would be useful if we have detailed information about \[value\] for what it is about and foot notes details also.

It would be interesting to have the data broken down by the states or regions to see how labor market conditions vary accross different areas, 

Also this database provides the data for women employes, but it would be useful to have the datas like other demographic factors such as race, age and education level to see how different groups are faring in the labor market.